body{
    margin: 0px;
}

.header{
    display: flex;
    padding: 1vh;
    color: #FFF;
    font-size: 120%;
    font-weight: 600;
    background-color: #0033FF;
    justify-content: space-between;
}

.function{
    position: relative;
    justify-self:flex-end;
    color: #FFF;
    font-weight: 600;
    flex-direction: row;
    margin-right: 10px;
}

.logout{
    color: #FFF;
    border: none;
    background-color: transparent;
    font-weight: 700;
    cursor: pointer;
}

.headercontent{
    display: flex;
    flex-direction: row;
}

.study_status{
    border-radius: 10px;
    margin-right: 20px;
}

.bodycontainer{
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.addsubject{
    display: flex;
    flex-direction: column;
    height: 90vh;
    align-items: center;
    /* justify-content: center; */
    width: 20vw;
    border-right: 1px solid black;
    font-weight: 600;
    min-width: 300px;
}

.subjectform{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    background-color: #EEE;
    max-height: 300px;
    max-width: 200px;
    margin: 10px;
}

.addsubjectheader{
    font-weight: 800;
    font-size: 150%;
    padding: 10px;
    color: #0A0;
}

.subjectlist{
    display: flex;
    flex-direction: column;
    height: 60vh;
    /* background-color: #EEE; */
    width: 18vw;
    overflow-y: scroll;
    scrollbar-width: thin;
    overflow-x: hidden;
    min-width: 250px;
}

.subjectlistcontent{
    display: flex;
    width: 15vw;
    border-radius: 5px;
    font-weight: 600;
    padding:10px;
    margin: 10px;
    background-color: #0033FF;
    color: #FFF;
    justify-content: space-between;
    font-size: 120%;
    min-width:200px;
}

.subjectlistedit{
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: #FFF;
    background-color: #F00;
    cursor: pointer;
    border: 1px solid black;
    /* font-size: 120%; */
}

.subjectlistedit :hover{
    box-shadow: 5px 5px 5px black;
}

.button{
    width: 50px;
    color: #FFF;
    padding: 5px;
    border-radius: 10px;
    background-color: #0033FF;
    cursor: pointer;
    margin: 5px;
    border: none; 
}

.content{
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 85vw;
    /* flex-wrap: wrap; */
    overflow-y: scroll;
    scrollbar-width: thin;
}

.subject{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    border-radius: 20px;
    margin: 3%;
    /* background-color: #EEE; */
    max-height: 25vh;
    width: 90%;
    min-width: 200px;
    &:hover{
        box-shadow: 0px 0px 20px #AAA;
    }
}

.subjectcontent{
    padding: 10px;
    border:1px solid black;
    border-radius: 20px;
}

.subjectheader{
    font-size: 120%;
    font-weight: 600;
    cursor: pointer;
}

.subjectdescription{
    display: flex;
    padding: 10px;
    overflow-y: scroll;
    scrollbar-width: none;
    height: 10vh;
}

@media(max-width: 768px)
{
    .function{
        display: none;
    }
    .bodycontainer{
        flex-direction: column-reverse;
        align-items: center;
    }
}